body {
    background-color: #69ca6f;
}

#content {
    position: relative;
    width: 61.8%;
    left: 19.6%;
    display: block;
    background-color: #ffffff;
    margin: 15px;
    padding: 15px;
}

#navbarcontainer {
    width: 100%;
    background-color: #35963c;
}
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li.navitem {
    float: left;
}
a.nav:link, a.nav:visited {
    display: block;
    width: 140px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #35963c;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}
a.nav:hover, a.nav:active {
    background-color: #116117;
}
img.screenshot {
    width: 50%;
}
div.boxedmessage {
    border-style: solid;
    border-width: 2px;
    margin: 20px;
}
